/* 
    Buenas Practicas
    1. Posicionamiento --> static, absolute, relative, fixed
    2. Modelo de caja (Box model) --> margin, border, padding, content
    3. Tipografía --> tipos, tamaños de fuente, etc
    4. Estilos visuales --> box-shadow, border-radius, gradient, etc
    5. Otros --> reglas CSS y más
    
    Fuentes 
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif; 
*/
:root {
  /*Variables de Color  */
  --color-primario: #182752;
  --verde-claro: #7bb374;
  --verde-agua: #2f4747;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black-1: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
  --verde-footer: #cbe9c7;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 350px;
  text-align: center;
  /* background: linear-gradient(207.8deg, #1A9AF7 16.69%, #FFE9D5 100%); */
  /* background: linear-gradient(207.8deg, #7bb374 16.69%, #FFE9D5 100%); */
  background: linear-gradient(206deg, #faf8f7 45%, #1a9af7 80%);
}

header img {
  width: 220px;
  height: auto;
  align-self: center;
  margin-top: 40px;
}

.header--title-container {
  width: 80%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 30px;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--color-primario);
}

.header--title-container p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-top: 25px;
  color: var(--verde-agua);
}

.header--title-container .header--button {
  position: absolute;
  top: 290px;
  left: calc(50% - 125px);
  display: block;
  margin-top: 35px;
  padding: 15px;
  background-color: var(--off-white);
  width: 250px;
  height: 48px;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--verde-agua);
  /*Sombras*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header--button span {
  display: inline-block;
  width: 13px;
  height: 10px;
  margin-left: 10px;
  background-image: url("./assets/icons/vector.svg");
  background-size: cover;
  background-position: center;
}
/* Estilos de la seccion del Main*/

main {
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
}

.main-services-container {
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.main-services-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.backgroundImg {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: url("./assets/icons/services.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-services-container--title h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--color-primario);
  margin-bottom: 30px;
}

.main-services-container--title p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
  margin-bottom: 30px;
}

.main-services-detail {
  width: 100%;
  min-width: 320px;
  height: auto;
}

.service-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: auto;
  background-color: var(--just-white);
  margin: 15px auto;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.service--card-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  margin-bottom: 10px;
}

.service--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.title-one {
  color: #1a9af7;
}

.title-two {
  color: #ff9536;
}

.title-tree {
  color: var(--verde-agua);
}

/* Seccion beneficios */
.main-advantage-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}

.advantage-detail--logo-home {
  position: absolute;
  top: -20px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background-image: url("./assets/icons/casa-del-arbol.png");
  background-size: cover;
}

.advantage-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.advantage-detail--title h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-top: 45px;
  margin-bottom: 25px;
  color: var(--just-white);
}

.advantage-detail--title p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
  margin-bottom: 30px;
}

.advantage-detail--card {
  width: 100%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--warm-black-1);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.advantage-detail--card .clock {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
  background-image: url("assets/icons/check-circle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.advantage--card-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
  margin-bottom: 10px;
}

.advantage--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

/* Seccion de Grupo de vendedores */
.img-group-sellers-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("./assets/imgs/bitcoinbaby.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.img-group-sellers-container h2 {
  padding-top: 65px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

/* Seccion de proyectos */
.main-projects-container {
  width: 100%;
  min-width: 320px;
  text-align: center;
  justify-content: center;
  padding-bottom: 12px;
  background-color: #e5e5e5;
}

.project--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 35px;
}

.project--title h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
  padding-top: 50px;
}

.project--title p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
  margin-top: 25px;
}

.projects-container--slider {
  display: flex;
  /* justify-content: center; */
  height: 350px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.projects-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 280px;
  margin: 20px 15px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recomended {
  position: absolute;
  width: 120px;
  height: 30px;
  top: -15px;
  left: calc(50% - 55px);
  padding: 8px;
  border-radius: 8px;
  background-color: #f7931a;
  color: var(--just-white);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4rem;
}

.project-card--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}

.project-card--price {
  padding: 8px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 6.2rem;
  color: black;
}

.project-card--price span {
  position: absolute;
  left: calc(50% - 100px);
  top: 65px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
}

.project-card--advantage {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Inter";
  line-height: 1.4rem;
  color: #757575;
}

.project-card--location {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Inter";
  line-height: 1.4rem;
  color: #757575;
}

.project-card--clima {
  padding-bottom: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Inter";
  line-height: 1.4rem;
  color: #757575;
}
.asterisco {
  color: red;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.project-card--ca {
  width: 180px;
  height: 48px;
  margin-top: 15px;
  background-color: var(--off-white);
  border: 2px solid #f7931a;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  font-family: "DM Sans", sans-serif;
}

.project-card--ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("./assets/icons/arrow-right.svg");
  vertical-align: text-bottom;
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/* Seccion de contactos */
.contacto-section {
  margin-top: 30px;
  margin-bottom: 10px;
  /* background: linear-gradient(155deg, #cdd7e9 20%, #43c7c5 50%); */
  width: 100%;
  height: 250px;
  background-color: #e5e5e5;
  /* box-shadow: 2px 5px 10px -6px var(--color-primario); */
}

section div a {
  text-decoration: none;
}

.button-container {
  margin-top: 10px;
  text-align: center;
  float: center;
}

.contacto-cabecera {
  text-align: center;
}
.contacto-cabecera h2 {
  font-size: 2.5rem;
}

.div-whatsapp {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.div-social {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

/*Boton whathsapp*/

.btn {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  padding: 0px;
  border-radius: 10px;
  /* background-color: transparent; */
  color: #fff;
  font-size: 1px;
  overflow: hidden;
  transition: all 0.5s ease;
  margin-bottom: 20px;
  z-index: 1;
  font-weight: 700;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  /* background: #006324; */
  background: #000703;
  transition: all 0.5s ease;
  z-index: -1;
}

.button-whatsapp::before {
  width: 0;
  height: 100%;
}

.button-whatsapp:hover {
  color: #fff;
  border: 2px solid var(--verde-claro);
  /* border: 2.5px solid var(--just-white); */
}

.button-whatsapp:hover::before {
  width: 100%;
}

.button-whatsapp {
  font-size: 1.8rem;
  padding: 10px;
  background: linear-gradient(205deg, #2d874f 20%, #067730 50%);
  color: var(--just-white);
  border-radius: 10px;
  z-index: 0;
  box-shadow: 0 4px 8px var(--color-primario);
  overflow: hidden;
  /* transition: all 600ms ease; */
}

.button-whatsapp:hover {
  /* transform: translateX(-20px); */
  box-shadow: 0px 30px 15px -16px var(--color-primario);
}

.button {
  width: 12px;
  height: auto;
  font-size: 1.8rem;
  margin: 10px;
  transition: all 1000ms;
  /*  box-shadow: 0px 30px 15px -16px var(--color-primario); */
}

.button:hover {
  transform: translateY(-15px);
  /* box-shadow: 0px 40px 25px -16px var(--color-primario); */
}

.whatsapp {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: -10px;
  background-image: url("./assets/icons/social/whatsapp.svg");
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Preguntas frecuentes */
.main-preguntas {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}
.main-preguntas h2 {
  
  margin-top: 50px;  
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
  text-align: center;
}

.pregunta-datail--card {
  width: 90%;
  min-width: 260px;
  max-width: 600px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.16);
}

.pregunta-datail--card .plus {
  padding: 1px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
  margin-right: 10px;
  background-image: url("./assets/icons/circulo-plus.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.facebook {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  background-image: url("./assets/icons/social/facebook-109862.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.linkedin {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  background-image: url("./assets/icons/social/linkedin-icon-icons.com-65929.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.twitter {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  background-image: url("./assets/icons/social/twitter.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pregunta--card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.pregunta--card-body {
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

/*EMPIEZA LA SECCION FOOTER*/
/* .footer {
  background: linear-gradient(207.8deg, #faf8f7 16.69%, #1a9af7 100%);
} */
footer {
  /* background-color: #e5e5e5; */
  background: linear-gradient(207.8deg, #faf8f7 16.69%, #1a9af7 100%);
  width: 100%;
  height: 220px;
  padding-top: 25px;
}

.footer-section {
  display: flex; 
  position: relative;
  width: 100%;
  min-width: 320px;
}

footer .right {
  width: 50%;
}

footer .left {
  width: 50%;
}

footer .right img {
  width: 100px;
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
}

footer .left ul {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6rem;
  list-style: none;
  text-align: center;
}

.left li {
  margin: 10px 0;
}

.left a {
  text-decoration: none;
  color: var(--verde-agua);
}

.pie {
  position: relative;
  width: 100%;
  min-width: 320px;
}

.footer--title {
  width: 100%;
  min-width: 288px;
  height: auto;
  text-align: center;
}

.footer--title h2 {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: #212529;
}

.footer--title p {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #212529;
}

.footer--title .autores {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: #212529;
}

.pie a {
  text-decoration: none;
  color: #212529;
}
